.card {
  width : 220px;
}

.display {
  display:flex;
  justify-content:center;
  width:100%
}

.price {
  width:280px;
  margin-top:17px;
  margin-left:16px;
  margin-bottom: 30px;
}

.size {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #047BD5;
  margin:6px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:600;
  cursor: pointer;
}

.selected-size {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin:6px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-weight:600;
  color:#ffffff;
  background-color: #047BD5;
  cursor: pointer;
}

.ml-16 {
  margin-left: 16px;
}

@media screen and (max-width: 550px) {
  .card {
   width:270px;
  }
  .display{
    flex-direction: column;
    align-items: center;
  }
  .price {
    width:270px;
    margin-left:0
  }
}
